<div class="dropdown-container">
    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
    <select
        name="sort_by"
        aria-describedby="a11y-refresh-page-message"
        class=""
    >
        {%- for option in results.sort_options -%}
          <option 
                value="{{ option.value | escape }}"
                {%- if option.value == sort_by -%}
                    selected="selected"
                {%- endif -%}
                class=""
            >
                {{ option.name | escape }}
            </option>
        {%- endfor -%}
    </select>
</div>