{% comment %}
  Renders table with text block

  Accepts:
  - block: {Object} passes in the block information.


  Usage:
  {% render 'table-text',
    block: block
  %}
{% endcomment %}

<div class="specs-container" {{ block.shopify_attributes }}>
  <div class="specs-table">
    {% for i in (1..6) %}
        {% assign thead_key = 'thead' | append: forloop.index %}
        {% assign tcontent_key = 'tcontent' | append: forloop.index %}
        {%- if block.settings[thead_key] != blank or block.settings[tcontent_key] != blank -%}
          <div class="spec-row">
              <div class="spec-label">{{ block.settings[thead_key] }}</div>
              <div class="spec-value">{{ block.settings[tcontent_key] }}</div>
          </div>
        {%- endif -%}
    {% endfor %}
  </div>
</div>

