<div slot="tab" {{ block.shopify_attributes }}>
    <div slot="title">{{ block.settings.title }}</div>
    <div slot="content">{{ block.settings.content }}</div>
</div>

{% schema %}
  {
    "name": "Tab Item",
    "tag":null,
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Tab Content"
        }
    ],
    "presets": [
      {
        "name": "Tab Item"
      }
    ]
  }
{% endschema %}