{% comment %} {% content_for 'blocks' %} {% endcomment %}
<div>item</div>
{% schema %}
{
  "name": "Tab Item",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Tab Title"
    }
  ],
  "blocks": [
    { "type": "@app" },
    { "type": "@theme" }
  ],
  "presets": [
    {
      "name": "Tab Item"
    }
  ]
}
{% endschema %}