{% content_for 'blocks' %}
<div class="tab-title">
  {{ block.settings.title }}
</div>

{% schema %}
{
  "name": "Tab Item",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    { "type": "@app" },
    { "type": "@theme" }
  ],
  "presets": [
    {
      "name": "Tab Item"
    }
  ]
}
{% endschema %}