<my-accordion-container allow-multiple="true">
  <my-accordion-item title="{{ block.settings.title }}">
    <div class="product-multiple-columns__container" 
      style="
      --columns-desktop: {{ block.settings.columns_desktop }}; 
      --column-alignment: {{ block.settings.column_alignment }};"
    >
      {% content_for 'blocks' %}
    </div>
  </my-accordion-item>
</my-accordion-container>

{% schema %}
  {
    "name": "product-multiple-columns",
    "tag": "section",
    "class": "product-multiple-columns",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "t:sections.multicolumn.settings.title.default",
        "label": "t:sections.multicolumn.settings.title.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 4,
        "label": "t:sections.multicolumn.settings.columns_desktop.label"
      },
      {
        "type": "select",
        "id": "column_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
          }
        ],
        "default": "left",
        "label": "t:sections.multicolumn.settings.column_alignment.label"
      },
    ],
    "blocks": [
      {
        "type": "column"
      },
      {
        "type": "customer-comment"
      }
    ],
    "presets": [
      {
        "name": "product-multiple-columns",
        "settings": {
        }
      }
    ]
  }
{% endschema %}