<div>test</div>

{% schema %}
{
  "name": "Tab Item",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    { "type": "@app" },
    { "type": "@theme" }
  ],
  "presets": [
    {
      "name": "Tab Item"
    }
  ]
}
{% endschema %}