<div>{{ block.settings.title }}</div>

{% schema %}
{
  "name": "Tab Item",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    { "type": "@theme"},
    {"type": "@app"}
  ],
  "presets": [
    {
      "name": "Tab Item"
    }
  ]
}
{% endschema %}