<div>custom test</div>
{% schema %}
  {
    "name": "custom-test",
    "tag": "section",
    "class": "section",
    "settings": [
      
    ],
    "blocks": [
        {"type": "@theme"}
    ],
    "presets": [
      {
        "name": "custom-test",
        "settings": {
        }
      }
    ]
  }
{% endschema %}