{{ 'my-fashion-highlights.css' | asset_url | stylesheet_tag }}

<responsive-container class="my-fashion-highlights__container">
    <div class="fashion__wrapper"
      {%- if section.settings.bgc_img != blank -%}
        style="background-image: url('{{ 
          section.settings.bgc_img 
          | image_url: width:1440,height:676 
        }}');"
      {%- else -%}
        style="background-image: url('{{ 'hero1.svg' | asset_url }}');"
      {%- endif -%}    
    >
        {% content_for 'blocks' %}
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-fashion-highlights",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "image_picker",
          "id": "bgc_img",
          "label": "Background Image"
        }  
    ],
    "blocks":[
        {
            "type": "fashion-highlight",
        }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "my-fashion-highlights",
        "settings": {
        },
        "blocks": [
          {
            "type": "fashion-highlight"
          },
          {
            "type": "fashion-highlight"
          },
          {
            "type": "fashion-highlight"
          },
          {
            "type": "fashion-highlight"
          }
        ]
      }
    ]
  }
{% endschema %}
