<div class="custom-section color-{{ section.settings.color_scheme }}">
  {%- for block in section.blocks -%}
    {{ block.settings | json }}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Tab Control",
  "blocks": [{ "type": "_tab-item" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Tab Control",
      "blocks": [
        { "type": "_tab-item" }
      ]
    }
  ]
}
{% endschema %}