<tab-control class="tab-container">
  <ul class="tab-titles">
    {% for block in section.blocks %}
      {{ block.settings }}
      {% comment %} <li class="tab-title" 
        data-tab-index="{{ forloop.index }}"
      >
        {{ block.settings.title }}
      </li> {% endcomment %}
    {% endfor %}
  </ul>
  <div class="tab-contents">
    {% for block in section.blocks %}
      <div class="tab-content" 
        data-tab-index="{{ forloop.index }}"
      >
        {% render block %}
      </div>
    {% endfor %}
  </div>
</tab-control>

{% schema %}
  {
    "name": "Tab Control",
    "tag": "section",
    "class": "section",
    "blocks": [
      { 
        "type": "_tab-item",
      }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "Tab Control",
        "blocks": [
          { "type": "_tab-item" }
        ]
      }
    ]
  }
{% endschema %}