<div class="custom-section color-{{ section.settings.color_scheme }}">
  {% content_for 'blocks' %}
  {{ section.blocks.first }}
</div>

{% schema %}
{
  "name": "Tab Control",
  "blocks": [{ "type": "_tab-item" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Tab Control",
      "blocks": [
        {
          "type": "_tab-item",
          "name": "Tab Item",
          "settings": {
            "title": "Tab Item"
          }
        }
      ]
    }
  ]
}
{% endschema %}