<script src="{{ 'tab-control.js' | asset_url }}" type='module'></script>

<div class="tab-container 
  {% if section.settings.layout == 'page_width' %} my-page-width {% endif %}"
>
  <tab-control>
    {% content_for 'blocks' %}
    <div>
      <div slot="title">test</div>
      <div slot="content">content</div>
    </div>
  </tab-control>
</div>

{% schema %}
  {
    "name": "Tab Control",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "full_bleed",
            "label": "Full Bleed"
          },
          {
            "value": "page_width",
            "label": "Page Width"
          }
        ],
        "default": "full_bleed",
        "label": "Layout"
      },
    ],
    "blocks": [
      { "type": "_tab-item" }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "Tab Control"
      }
    ]
  }
{% endschema %}


