<div class="tab-container 
  {% if section.settings.layout == 'page_width' %} my-page-width {% endif %}"
>
  {% for block in section.blocks %}
    {% if block.type == '_tab-item' %}
      --{{ block.settings }}
    {% endif %}
  {% endfor %}
  123
  {% comment %} <ul class="tab-titles">
    {% for block in section.blocks %}
      <li class="tab-title" 
        data-tab-index="{{ forloop.index }}"
      >
        {{ block.settings.title }}
      </li>
    {% endfor %}
  </ul> {% endcomment %}
  {% comment %} <div class="tab-contents">
    {% for block in section.blocks %}
      <div class="tab-content" 
        data-tab-index="{{ forloop.index }}"
      >
        {% render block %}
      </div>
    {% endfor %}
  </div> {% endcomment %}
</div>

{% schema %}
  {
    "name": "Tab Control",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "full_bleed",
            "label": "Full Bleed"
          },
          {
            "value": "page_width",
            "label": "Page Width"
          }
        ],
        "default": "full_bleed",
        "label": "Layout"
      },
    ],
    "blocks": [
      { 
        "type": "_tab-item"
      },
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "Tab Control"
      }
    ]
  }
{% endschema %}


