{{ 'tab-control.css' | asset_url | stylesheet_tag }}
<script src='{{ 'tab-control.js' | asset_url }}'  type="module"></script>

<tab-control class="tab-control__container color-{{ section.settings.color_scheme }} my-page-width"
  data-section-id="{{ section.id }}"
>
  <div class="tab-navigation" data-tab-nav></div>
  <div class="tab-contents">
    {% content_for 'blocks' %}
  </div>
</tab-control>

{% schema %}
{
  "name": "Tab Control",
  "blocks": [{ "type": "_tab-item" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Tab Control",
      "blocks": [
        { "type": "_tab-item" }
      ]
    }
  ]
}
{% endschema %}