.my-fashion-highlights__container{
    margin-top: 2rem;
    overflow: hidden;

    .fashion__wrapper {
        width: 100vw;
        height: 46.944vw;
        display: grid;
        grid-auto-flow: column;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .fashion-item__container{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-left: 1.667vw;
        padding-bottom:2.361vw;

        &:hover{
            background-color: rgba(0, 0, 0, 0.5);

            .fashion-item__info__container{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
        }

        .fashion-item__info__container{
            display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .info,.title,.my-button{
            color:#fff;
        }

        .info {
            margin-top: 1.2rem;
        }

        .fashion-item__operator__container {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
}