.my-product-highlight__container{ 
    margin-top: 8rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;

    .my-product-highlight__wrapper{
        width: 76.25vw;
        height: 57.5vw;
        display: grid;
        grid-template-columns: 40.972vw 1fr;
        grid-template-rows: 4.722vw 50vw;
        gap:2.778vw 6.111vw;
    }

    .my-product-highlight__content {
        grid-column: 1 / span 2;
        grid-row: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;

        .my-product-highlight__description {
            margin-top: 2.4rem;
        }
    }

    .image_show {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-image__container {
        grid-row: 2;
        grid-column: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;

        .is-active{
            display: block !important;
        }

        .product-image__wrapper{
            display: none;
            margin-top: 1.354vw;
            width: 29.167vw;
            height: 45.069vw;

            .product_image {
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-bottom: 1.6rem;
            }

            .product-image__title{
                margin-bottom: 0.8rem;
            }

            .button {
                border-radius: 4rem;
                white-space: nowrap;

                &:hover,&:after{
                    box-shadow: none !important;
                }
            }
        }
    }

    .product-switch {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 6.944vw;
        height: 0.556vw;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;

        .dot {
            width: 0.556vw;
            border-radius: 50%; 
            background-color: #ccc; 
        }

        .underline {
            display: block;
            width: 4.444vw;
            border-radius: 0.6rem;
            background-color: #000;
            -webkit-transition: width 0.3s ease;
            transition: width 0.3s ease;
        }
    }
}