.brand-banner__container{
    width: 100%;
    height: 140dw;
    min-height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .brand-banner__bgd {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .image-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    .right{
        position: absolute;
        right: 100vw;
    }

    .image,.my-placeholder-svg{
        height: 100%;
        object-fit: cover;
    }
}