.google-map__container{
    margin-top: 30px;

    iframe{
        width: 100%;
        height: 580dw;
    }
    
    .google-map{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}