.grid-layout__container{
    --raw-height:10rem;
    --max-columns: 4;
    --gap:0px;
    --mobile-gap:0px;
    --row-span:2;
    --column-span:2;

    display: grid;
    grid: auto-flow dense auto / repeat(var(--max-columns, 4),minmax(0,1fr));
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

    .image__container{
        grid-area: span var(--row-span) / span var(--column-span);
        position: relative;

        .image__position{
            margin: 0;
            padding: 0;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            
            .image__content{
                height: fit-content;
                max-width: 60%;
                display: flex;
                flex-direction: column;
                word-wrap: break-word;
            }
        }
    }

    .pc_image,.mobile_image{
      display: none;
    }
    
    @include media-query(mobile,'max'){
      .mobile_image{
        display: flex;
      }
    }

    @include media-query(mobile,'min'){
      .pc_image{
        display: flex;
      }
    }

    @include media-query(mobile,'min'){
      .content--top-left {
        align-items: flex-start;
        justify-content: flex-start;
      }

      .content--top-center {
        align-items: flex-start;
        justify-content: center;
      }

      .content--top-right {
        align-items: flex-start;
        justify-content: flex-end;
      }

      .content--middle-left {
        align-items: center;
        justify-content: flex-start;
      }

      .content--middle-center {
        align-items: center;
        justify-content: center;
      }

      .content--middle-right {
        align-items: center;
        justify-content: flex-end;
      }

      .content--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
      }

      .content--bottom-center {
        align-items: flex-end;
        justify-content: center;
      }

      .content--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
}