.grid-layout__container{
    --raw-height:10rem;
    --max-columns: 4;
    --gap:0px;
    --mobile-gap:0px;
    --row-span:2;
    --column-span:2;
    --text-color:#fff;
		--border-radius:0%;

    display: grid;
    grid: auto-flow dense auto / repeat(var(--max-columns, 4),minmax(0,1fr));
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

    .image__container{
        grid-area: span var(--row-span) / span var(--column-span);
        position: relative;
				border-radius: var(--border-radius);
				overflow: hidden;
        box-shadow: 4px 6px -2px rgba(var(--color-foreground),.03),0 6px 15px -3px rgba(var(--color-foreground),.15);

        .image__position{
            margin: 0;
            padding: 0;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            
            .image__content{
								padding:10px 15px;
                height: fit-content;
                max-width: 60%;
                display: flex;
								gap: 10px;
                flex-direction: column;
                word-wrap: break-word;
                color: var(--text-color);

								.heading,.description{
									color: currentColor;

									& *{
										margin: 0;
										padding: 0;
									}
								}
            }
        }
    }

    .pc_image,.mobile_image{
      display: none;
    }

    .pc_image{
        display: flex;
    }
    
    @include media-query(mobile,'max'){
      grid-template-columns: 1fr;
			gap: var(--mobile-gap);

			.image__container{
				grid-column: span 1;
				grid-row: span var(--row-span);
			}

      .mobile_image{
        display: flex;
      }

      .pc_image{
        display: none;
      }
    }

    @include media-query(mobile,'min'){ 
        .image__position.content--top-left {
            align-items: flex-start;
            justify-content: flex-start;
        }

        .image__position.content--top-center {
            align-items: flex-start;
            justify-content: center;
        }

        .image__position.content--top-right {
            align-items: flex-start;
            justify-content: flex-end;
        }

        .image__position.content--middle-left {
            align-items: center;
            justify-content: flex-start;
        }

        .image__position.content--middle-center {
            align-items: center;
            justify-content: center;
        }

        .image__position.content--middle-right {
            align-items: center;
            justify-content: flex-end;
        }

        .image__position.content--bottom-left {
            align-items: flex-end;
            justify-content: flex-start;
        }

        .image__position.content--bottom-center {
            align-items: flex-end;
            justify-content: center;
        }

        .image__position.content--bottom-right {
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}