.my-footer__container{
    height: auto;
    min-height: 340px;

    footer{
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(var(--color-foreground),0.08);

        &:not(.color-scheme-1){
            border-top: none;
        }
    }

    .page-width{
        max-width: none;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .top{
        display: flex;
        justify-content: space-between;   
        padding-bottom: 30px;
        gap: 20px;

        .footer-block--newsletter{
            flex: 1;
        }

        .footer__blocks-wrapper{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


        }

        .footer__menu{
            flex: 1;
            .menu{
                display: flex;
                justify-content: space-around;
                align-items: self-start;
            }

            .menu,.child_menu{
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .menu__item {
                margin-bottom: 10px;
            }

            .menu__link{
                color:#ccc;
                text-decoration: none;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;

                &:hover{
                    color:#fff;
                    text-decoration: underline;
                }
            }
        }

        @include media-query('750px','max'){
            flex-direction: column;
            gap: 20px;
        }
    }

    .footer__content-bottom{
        border-top: solid 1px rgba(var(--color-foreground),0.08);
        padding-top: 30px;

        &:only-child{
            border-top: 0;
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div{
            flex: 1;
        }

        .social{
            justify-items: flex-start;

            & > ul{
                justify-content:flex-start;
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;

            .localization-form__select{
                &::after{
                    box-shadow: none;
                }

                &:hover{
                    box-shadow: 0 0 0 calc(1px + var(--inputs-border-width)) rgba(var(--color-foreground),var(--inputs-border-opacity));
                    outline: 0;
                    border-radius: var(--inputs-radius);
                }   
            }
        }

        .social,.payment{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: flex-end;

                li{
                    display: flex;
                    align-items: center;
                }
            }
        }

        @include media-query('750px','max'){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}