.my-featured-blog__container{
    flex-direction: column;

    .image__container{
        border-radius: 16px;
        overflow: hidden;
    }

    .bottom{
        display: flex;
        gap: 20px;
        justify-content: space-between;

        .left{
            flex: 2;

            .content{
                position: absolute;
                bottom: 10%;
                left: 5%;

                .title{
                    font-weight: 700;
                }

                .description{
                    text-align: left;
                    display: -webkit-box;           
                    -webkit-box-orient: vertical;  
                    line-clamp: 3; 
                    -webkit-line-clamp: 3;           
                    overflow: hidden;               
                    text-overflow: ellipsis;       
                }
            }
        }

        .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            
            .card{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-self: flex-start;

                .right-image-container{
                    height: 238dw;
                    width: 238dw;
                    max-width: 300px;
                    max-height: 300px;
                    min-height: 180px;
                    min-width: 180px;
                }

                .content{
                    flex: 1;
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    align-items: flex-start;

                    .my-info{
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        flex-wrap: wrap;
                    }

                    .my-title{
                        font-weight: 700;
                    }

                    .my-description{
                        text-align: left;
                        display: -webkit-box;           
                        -webkit-box-orient: vertical;  
                        line-clamp: 3; 
                        -webkit-line-clamp: 3;           
                        overflow: hidden;               
                        text-overflow: ellipsis;       
                    }

                    .my-link{
                        margin-top: auto;
                        color: currentColor;
                    }
                }
            }
        }
    }

    @include media-query(mobile,'max'){ 
        .bottom{
            flex-direction: column;
        }
    }
}