.my-featured-blog__container{
    flex-direction: column;

    .image__container{
        border-radius: 16px;
        overflow: hidden;
    }

    .bottom{
        display: flex;
        justify-content: space-between;

        .left{
            flex: 2;

            .content{
                position: absolute;
                bottom: 10%;
                left: 10%;

                .title{
                    font-weight: 700;
                }

                .description{
                    text-align: left;
                    display: -webkit-box;           
                    -webkit-box-orient: vertical;  
                    line-clamp: 3; 
                    -webkit-line-clamp: 3;           
                    overflow: hidden;               
                    text-overflow: ellipsis;       
                }
            }
        }

        .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .card{
                height: fit-content;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                justify-content: space-between;

                .content{
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    align-items: flex-start;

                    .my-info{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                    }

                    .my-title{
                        font-weight: 700;
                    }

                    .my-description{
                        text-align: left;
                        display: -webkit-box;           
                        -webkit-box-orient: vertical;  
                        line-clamp: 3; 
                        -webkit-line-clamp: 3;           
                        overflow: hidden;               
                        text-overflow: ellipsis;       
                    }

                    .my-link{
                        margin-top: auto;
                    }
                }
            }
        }
    }
}