.my-image-banner__container {
    overflow: hidden;
    width: 100%;
    height: 100svh;

    .slide-content{
      margin: 0;
      padding: 0;
      display: flex;
      position: absolute;
      inset: 0;
      align-items: center;
      justify-content: center;

      .content__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 54.5rem;
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 5rem;
        height: fit-content;
        align-items: center;
        text-align: center;
        width: 100%;
        word-wrap: break-word;
      } 
    }

    .slide__button{
      display: inline-flex;
      flex-wrap: wrap;
      gap: 1rem;
      word-break: break-word;
      margin-top: 2rem;
    }

    .content__container.text--left{
      text-align: left;
      align-items: flex-start;
    }

    .content__container.text--right{
      text-align: right;
      align-items: flex-end;
    }

    @include media-query(mobile,'min'){
      .slide-content{
        height: 100%;
      }

      .content__container{
        width: auto;
        max-width: 71rem;
        min-width: 45rem;
      }

      .slide-content--top-left {
        align-items: flex-start;
        justify-content: flex-start;
      }

      .slide-content--top-center {
        align-items: flex-start;
        justify-content: center;
      }

      .slide-content--top-right {
        align-items: flex-start;
        justify-content: flex-end;
      }

      .slide-content--middle-left {
        align-items: center;
        justify-content: flex-start;
      }

      .slide-content--middle-center {
        align-items: center;
        justify-content: center;
      }

      .slide-content--middle-right {
        align-items: center;
        justify-content: flex-end;
      }

      .slide-content--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
      }

      .slide-content--bottom-center {
        align-items: flex-end;
        justify-content: center;
      }

      .slide-content--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
}