.my-image-with-text__container{
    overflow: hidden;
    gap: 24px;


    .text-center{
        text-align: center;
        align-self: center;
    }

    .text-left{
        text-align: left;
        align-self: flex-start;
    }

    .text-right{
        text-align: right;
        align-self: flex-end;
    }

    .image__container,.content__container{
        flex: 1;
        border-radius: 30px;
    }

    .image__container {
        overflow: hidden;
    }

    .content__container { 
        padding: 32px;
        display: flex;
        flex-direction: column;

        .title{
            font-weight: 700;
            margin-bottom: 24px;
            line-height: 1.2;
        }

        .subtitle{
            line-height: 1.6;
            margin-bottom: 40px;
        }
        
        .accordion__container{
            flex: 1;
        }
    }


    @include media-query(mobile,'max'){
        max-height: fit-content;
        height: auto;
        flex-direction: column !important;
    }
}
