.my-image-with-text2__container{
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
    .item{
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
    }

    .text__container{
        padding: 10px 15px;
    }

    .image__container{
        flex: 1 1 0;
        overflow: hidden;
        border-radius: 5%;
    }
}