.my-merchant-info__container{
    flex-direction: column;
    gap: 20px;

    .section-title {
        margin-bottom: 20px;
    }

    .section-title h2 {
        margin-bottom: 12px;
    }

    .stores-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .store-card {
            width: 384px;
            padding: 25px;
            border: 1px solid #ddd;
            border-radius: 8px;

            h3 {
                margin-bottom: 15px;
            }

            .store-address {
                margin-bottom: 15px;
                line-height: 1.5;
            }

            .store-hours {
                line-height: 1.5;
            }
        }
    }
}