.my-page-aboutus2__container{
    overflow:hidden;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .top-info__container{
        // padding-left: 120dw;
        // padding-right: 120dw;

        width: 100%;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        text-align: center;

        .sale-info{
            margin-left: auto;
            margin-right: 10px;
        }

        .sale-info,.invest-info{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-self: flex-end;
        }
    }

    .banner__container{
        margin-top: 20px;
        margin-bottom: 100px;
        position: relative;

        .banner-image__container{
            position: relative;

            .title{
                position: absolute;
                inset: 0;                         
                display: flex;
                justify-content: center;       
                align-items: center;             
                color: #fff;
            }

            img {
                @include media-query('750px','max'){
                    min-height: 240px;
                }
            }
        }

        .banner-info{
            box-sizing: border-box;
            position: absolute;
            // width: 520dw;
            // height: 288dw;
            background-color: #373737;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            border-radius: 16px;
            padding: 50px;
            bottom: -10%;
            right: 10%;        

            .description{overflow: hidden;}

            @include media-query('750px','max'){
                margin-top: 20px;
                position: relative;
                right: 0;
                height: fit-content;
                width: fit-content;
            }
        }
    }
}