.product-card__container { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    overflow: hidden;
}

.product-card__image-hover{
    .quick-view-btn{
        opacity: 0;
        transform: translateX(-50%);
    }

    &:hover .quick-view-btn{
        bottom: 5%;
        opacity: 1;
        transition: bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
        opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.product-card__image {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex:1;
    flex-shrink: 0;
    height: auto;

    .left-top{
        max-width: 40%;
        min-width: 100px;
        position: absolute;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        gap: 10px;
        align-items: flex-start;
    }

    .badge,.sale{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 12px;
        padding: 5%;
        font-family: Arial, sans-serif;
        font-weight: bold;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
    
    .sale{
        background: linear-gradient(135deg, #ff3a3a 0%, #e60000 100%);
        color: white;
        border-radius: 9999px;
    }

    .quick-view-btn{
        padding: 3% 24%;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-weight: 500;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover{
            border: 1px solid black;
            background-color: #000;
            color: white;
        }
    }

    .image{
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }

    &:hover .image{
        scale: 1.1;
    }

    .show-secondary.image:nth-of-type(2){
        opacity: 0;
        position: absolute;
        inset: 0;
    }

    &:hover .show-secondary.image:first-of-type{
        opacity: 0;
    }

    &:hover .show-secondary.image:nth-of-type(2){
        opacity: 1;
    }
}

.product-card__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .product-card__title {
        font-weight: 500;
        white-space: nowrap;

        a:hover {
            text-decoration: underline;
        }
    }

    .product-card__swatch,.product-card__size{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        align-items: center;
    }

    .swatch,.sizes{
        position: relative;
        padding-bottom: 5px;
    }

    .color,.size{
        text-align:center;
        display: block;
        background-color: var(--swatch-bgc,--color-background);
        width: 20px;
        height: 20px;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            background-color: rgba(var(--color-foreground), 0.75);
        }
    }

    .color[aria-selected=true]::after,
    .size[aria-selected=true]::after{
        opacity: 1;
    }
}

.product-left {
    align-items: flex-start;
}

.product-center {
    align-items: center;
}

.product-right {
    align-items: flex-end;
}