.my-page-contact-us1__container{
    width: 100%;
    height: 600dw;
    overflow: hidden;

    .wrapper{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        
        .title{
            margin: 0;
            color:#fff;
            font-weight: 700;
        }
    }
}