.my-page-aboutus2__container{
    overflow:hidden;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .top-info__container{
        width: 100%;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        text-align: center;

        .sale-info{
            margin-left: auto;
            margin-right: 10px;
        }

        .sale-info,.invest-info{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-self: flex-end;
        }
    }

    .banner__container{
        position: relative;

        .banner-image__container{
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            min-height: 200px;
            max-height: 600px;

            .title{
                position: absolute;
                inset: 0;                         
                display: flex;
                justify-content: center;       
                align-items: center;             
            }
        }

        .banner-info{
            box-sizing: border-box;
            position: absolute;
            width: 520dw;
            height: 288dw;
            background-color: var(--color-background);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            border-radius: 16px;
            padding: 50px;
            bottom: -10%;
            right: 10%;        

            .description{
                overflow: hidden;
            }
        }
    }

     @media (max-width: 768px) {
        .banner-image__container{
            max-height: 400px; 
            min-height: 150px; 
        } 

        .banner-info{
            margin-top: 20px;
            position: relative;
            right: 0;
            height: fit-content;
            width: fit-content;
        }
    }
}