.my-page-aboutus1__container{
    flex-direction: column;

    .banner-image__container{
        width: 100%;
        height: 600dw;
        overflow: hidden;


        .wrapper{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
        }

        .content{
            width: auto;
            max-width: 450px;
            max-width: 710px;

            .title{
                color: #fff;
            }
        }
    }

    .block__wrapper{
        margin-top: 30px;
        padding-left: 120dw;
        padding-right: 120dw;

        .content__container{
            display: flex;
            flex-direction: column;

            .title{
                font-weight: 700;
            }

            .content{
                text-align: justify;
                text-justify: inter-word;
                line-height: 1.6;
                max-width: 600px;
                margin: 0 auto;
                padding: 20px;
                color: #333;
                font-family: Arial, sans-serif;
            }
        }
    }
}