.my-page-aboutus1__container{
    flex-direction: column;

    .banner-image__container{
        width: 100%;
        height: auto;
        min-height: 200px;
        max-height: 600px;
        overflow: hidden;

        .wrapper{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
        }

        .content{
            width: auto;
            max-width: 450px;
            max-width: 710px;
        }
    }

    .block__wrapper{
        margin-top: 20px;

        .content__container{
            display: flex;
            flex-direction: column;        
        }
    }


    @media (max-width: 768px) {
        .banner-image__container{
            max-height: 400px; 
            min-height: 150px; 
        } 

        .content{
            width: 100%;
        }
    }
}