.product-multiple-columns{
    width: 100%;
}

.my-product-content__container{
    width: 1200dw;
    max-width: 1200px;
    margin: 20px auto;
    flex-direction: column;


    .product-multiple-columns__container{
        --columns-desktop:4;
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(var(--columns-desktop), 1fr);

        .column{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .shopify-block{
            overflow: hidden;
        }

        .customer-comment{
            margin-top: 20px;
            display: flex;
            width: 100%;
            flex-shrink: 0;

            .comment__container{
                width: 300px;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 20px;
                border: 1px solid #e5e5e5;
                border-radius: 5%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;

                .product-name,.customer-name{
                    font-weight: 700;
                }

                .comment{
                    display: -webkit-box;           
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;       
                    overflow: hidden;            
                    text-overflow: ellipsis;      
                }

                .divide{
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: #e5e5e5;
                }
            }

            @include media-query("995px","max"){
                gap: 30px;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
                scrollbar-width: none;
                -ms-overflow-style: none;
            }
        }

        @include media-query(mobile,'max'){
            grid-template-columns: auto;
        }
    }

    @include media-query(mobile,'max'){
        --my-accordion-overflow-y: auto;
    }
}

