.my-text-banner__container{
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
    align-items: center;

    .title{
        flex-shrink: 0;
        margin: 0;
        margin-right: 16px;
    }

    .desc{
        margin: 0;
        margin-right: 36px;

        @include media-query('750px','max'){
            margin-right: 0;
            text-align: center;
        }
    }

    .btn{
        flex-shrink: 0;
        cursor: pointer;
        padding: 10px 25px;
        font-weight: bold;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 20px;
        overflow: hidden;
    }

    @include media-query('750px','max'){
        flex-direction: column;
    }
}