.my-team-showcase__container{
    overflow: hidden;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);

    .content__container{
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .member__container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;

        responsive-container{
            width: 288dw;
            height: 288dw;
            overflow: hidden;
            border-radius: 16px;
        }
    }

    @include media-query('750px','max'){
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;           
    }
}