.my-video-player__container{
    height: 703dw;
    max-height: 703px;
    cursor:pointer;

    .deferred-media[loaded] > .deferred-media__poster{
        display: none;
    }

    .iframe{
        width: 100%;
        height: 100%;
        border: none;
    }

    .my-video-player__controls{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .my-video-player__info{
            text-align: center;
            letter-spacing: 4px;
        }

        .my-video-player__button{
            color: rgb(var(--color-button-text));
            background-color: rgb(var(--color-button));

            letter-spacing: 0px;
            margin-top: 136dw;
            display: flex;
            justify-content: center;
            align-items: center; 
            padding: 10px;
            font-weight: 500;
            border-radius: 40px;
        }

        .play-circle{
            width: 32px;
            height: 32px;
            margin-right: 8px;
        }
    }

    .my-video-player__social-share{
        background-color: #fff;
        position: absolute;
        left: 32px;
        bottom: 30%;
        width: 44dw;
        min-width: 44px;
        height: 300dw;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        border-radius: 30px;
        
        .social-media {
            width: 24px;
            height: 24px;
        }

        .social-badge {
            background-color: #000;
            color:#fff;
            width: 35dw;
            min-width: 35px;
            height: 95dw;
            min-height: 95px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .social-text {
                font-weight: 500;
                letter-spacing: 1px;
                transform: rotate(-90deg);
                white-space: nowrap;
                text-transform: uppercase;
                padding: 10px;
                @include my-font-size(14px);
            }
        }

        @media (min-width: 798px) and (max-width: 1024px) { 
            bottom: 10%;
        }

        @include media-query(797px,'max'){
            display: none;
        }
    }

    @include media-query(797px,'max'){
        height: 812px;
    }   
}

