.tab-control__container{
    .tab-navigation{
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        overflow-x: auto;

        // iOS inertial scrolling 
        -webkit-overflow-scrolling: touch;

        // hidden scrollbar (Chrome , Safari, Opera)
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar{
            display: none;
        }

        .tab-title{
            flex: 0 0 auto;
            white-space: nowrap;
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            background: none;
            border-bottom: 2px solid transparent;
        }

        .tab-title.active{
            border-bottom-color: black;
            color: black;
        }
    }

    .tab-contens{
        overflow: hidden;
        
        .tab-panel.hidden{
            display: none;
        }

        .tab-panel.active{
            display: flex;
            animation: fadeIn 0.3s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}