.tab-control__container{
    .tab-navigation{
        display: flex;
        gap: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;

        .tab-title{
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            background: none;
            border-bottom: 2px solid transparent;
        }
    }

    .tab-contens{
        .tab-panel{
            display: flex;
        }
    }
}